div {

    height: 50px;
    width: 50px;
    background-color: lightblue;


    /* border -> color , width , style  */
    /* border-color: black;
    border-width: 10px;
    border-style: dashed; */

    /* Short hand Property  */
    /* red 0 - 255 , green 0 - 255 blue 0 - 255  
    
    rgb(255,255,255)*/

    /* border-left: 2px solid rgb(54,67,213);
    border-right: 5px dashed red;
    border-top: 10px orange double;
    border-bottom: 8px solid blue; */

    border: 1px solid black;
    /* space -> half krdu 200px -> 100px -> 50% */
    border-radius: 50%; 
    /* all sides -> box -> 50% -> 400px -> 200px -> corner mere round  */


    /* border radius -> box ka corner round hone lgagega */

    /* clockwise -> top left, top right , bottom right , bottom left */
    /* border-radius: 100px 0px 100px 0px; */


    /* padding - left, right , top , bottom */
    /* padding-left: 20px;
        padding-top: 40px;
        padding-bottom: 60px;
        padding-right: 40px; */
      

    /* padding : 40px (it will apply on all the sides)
        padding : 20px(top/bottom) 40px(left/right) 
        padding : 20px(top) 60px(left/right) 80px(bottom)
        padding: top right bottom left - clock wise logic lg jaega   */

    /* padding:30px 0px 0px 100px; */
    text-align: center;
    /* margin - left, right , top , bottom */
    /* margin-left: 20px; */
     /* margin-top: 40px; */
     /* margin-bottom: 50px; */

    /* margin : 40px (it will apply on all the sides)
        margin : 20px(top/bottom) 40px(left/right) 
        margin : 20px(top) 60px(left/right) 80px(bottom)
        margin: top right bottom left - clock wise logic lg jaemargin*/

    margin: 0px 0px 40px 70px;
    /* margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 40px; */

    /* display -> inline , block , inline-block 
    inline
    
    inline -  ek line m le aega but, woh itna hi space dikhaega jitna uska content hai
    inline-block - ek line m rkhega or content vesi dikhaega jesa woh block m tha 
    */
    display: inline-block;


    /* box shadow -> xaxis , y axis , blur intensity , color  */

    /* box-shadow: 0px  0px 10px rgb(76, 0, 255); */

    

}

div:hover {
     box-shadow: 0px  0px 40px rgb(76, 0, 255);
}

button:hover {
    box-shadow: 0px 0px 10px rgb(0, 38, 255);
}