/* parent */
.container{
    height: 400px;
    width: 650px;
    background-color: black;
    border: 2px solid black;

    display: grid;

    /* grid- */
    grid-template-rows: repeat(5,1fr) ;

    grid-template-columns: repeat(3,1fr);

    /* rows - gap */
    /* row-gap:10px; */


    /* column-gap */
    /* column-gap: 20px; */

    /* grid-gap: 10px 20px; */

    /* justify-item/self -> horizontal adjust */
    justify-items: left;

    /* align-item/self ->vertical adjust  */
    align-items: end;


    /* place-item/self -> hor+ver adjust ->  */
    place-items: center;

}

/* descendents Selector child ->  */
.container div{
    height: 50px;
    width: 100px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
    background-color: yellow;
}


#one{
    /* grid-column: 1/3;
    grid-row: 1/3; */
    /* grid-column: 1/4; */
    justify-self: center;

    align-self: center;

    place-self: end;
}