/* div{
    height: 100px;
    width: 100px;
    background-color: rgba(255, 68, 0) ;
    border: 4px solid green;

    opacity: ;


} */

.alpha{
    height: 100px;
    width: 100px;
    background-color: blue;
    color: rgba(255, 0, 0, 0.56);
    border: 4px double green;

    
}

.opacity{
     height: 100px;
    width: 100px;
    background-color: blue;
    color: rgba(255, 0, 0);
    border: 4px solid green;
    opacity: 0.2;
    
}

div{
    display: inline-block;
}


/* alpha property - it will only apply on the color value (rgb)
   opacity property - it will apply on entire selector 
   
   
   visibility -> 
        proper visible -> 1
        gayab-no visible -> 0
                0.5 -> half visible / half non visible
   
            transparent -> 
                transparency - 0%
                opacity - 100


   
   
   */